.forbackground {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
}
.interb {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-align: center;
}
.iwatch .inter:nth-child(2) {
  height: 16px;
  width: 152px;
  color: black;

  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.inter .interhead p {
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  font-style: bold;
}
.gap .column .inter p:nth-child(2) {
  font-weight: 700;
  font-style: bold;
}
.iwatch .inter p:last-child {
  color: black;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.juscenter {
  justify-content: center;
}
.alcenter {
  align-items: center;
}

.absolute {
  position: absolute;
}
.gapuni {
  gap: 12px;
}
.head {
  justify-content: space-between;
  height: 48px;
}
.buttonbar {
  width: 48px;
  margin-right: 40px;
}
.buttonbar img:last-child {
  margin-top: 14px;
  height: 18px;
  width: 18px;
}
.headtext {
  height: 73px;
  width: 390px;
}
.azpro {
  background-image: url(/Figure.png);
}
.inazpro {
  height: 114px;
  width: 241px;
  gap: 16px;
  padding-top: 350px;
}
.gapazpro {
  gap: 4px;
}
.gap .inter p {
  margin: 0;
}
.gap .interb p {
  margin: 0;
}

.learnmoreandbuy {
  height: 36px;
  width: 241px;
  gap: 12px;
  margin-top: 16px;
}
.learnmore {
  width: 107px;
  height: 100%;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
}
.learnmore p {
  color: white;
}
.buy {
  width: 66px;
  height: 100%;
  color: rgba(41, 151, 255, 1);
  border-radius: 999px;
  border-color: rgba(41, 151, 255, 1);
  border-style: solid;
}
.az {
  background-image: url(/ipaz.png);
}
.inaz {
  padding-top: 36px;
}
.ipadair {
  background-image: url(/ipadair.jpg);
}
.inipadair {
  padding-bottom: 300px;
}

.rnbwhello {
  font-size: 14px;

  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 166px;
  height: 18px;
}
.rnbwhello p {
  margin: 0;
}
.airpod {
  background-image: url(/airpod.jpg);
}
.inairpod {
  padding-top: 330px;
}
.inairpod p:nth-child(2) {
  height: 53px;
  width: 241px;
}
.iwatch {
  background-image: url(/iwatch.jpg);
}
.iniwatch {
  height: 135px;
  width: 235px;
  gap: 16px;
  padding-top: 46px;
}
.iwatch p {
  margin: 0;
}

.applelogostyle {
  width: 22px;
  height: 27px;
  padding-bottom: 5px;
}
.iwatch .learnmore p:first-child {
  color: white;
}
.macbook {
  background-image: url(/macbook.png);
}
.inmacbook {
  width: 257px;
  height: 115px;
  gap: 16px;
}
.forsmallbussines {
  background-image: url(/forsmall.png);
}
.inforsmallbussines {
  height: 168px;
  width: 257px;
  margin-top: 47px;
}
@media (min-width: 768px) {
  .azpro {
    background-image: url(/ippro.png);
  }
}
