.forbackground {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
}
.interb {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-align: center;
}
.iwatch .inter:nth-child(2) {
  height: 16px;
  width: 152px;
  color: black;

  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.inter .interhead p {
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  font-style: bold;
}
.gap .column .inter p:nth-child(2) {
  font-weight: 700;
  font-style: bold;
}
.iwatch .inter p:last-child {
  color: black;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.juscenter {
  justify-content: center;
}
.alcenter {
  align-items: center;
}

.absolute {
  position: absolute;
}
.gapuni {
  gap: 12px;
}
.head {
  justify-content: space-between;
  height: 48px;
}
.buttonbar {
  width: 48px;
  margin-right: 40px;
}
.buttonbar img:last-child {
  margin-top: 14px;
  height: 18px;
  width: 18px;
}
.headtext {
  height: 73px;
  width: 390px;
}
.azpro {
  background-image: url(/Figure.png);
}
.inazpro {
  height: 114px;
  width: 241px;
  gap: 16px;
  padding-top: 350px;
}
.gapazpro {
  gap: 4px;
}
.gap .inter p {
  margin: 0;
}
.gapuni .interb p {
  margin: 0;
}

.learnmoreandbuy {
  height: 36px;
  width: 241px;
  gap: 12px;
  margin-top: 16px;
}
.learnmore {
  width: 107px;
  height: 100%;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
}
.learnmore p {
  color: white;
}
.buy {
  width: 66px;
  height: 100%;
  color: rgba(41, 151, 255, 1);
  border-radius: 999px;
  border-color: rgba(41, 151, 255, 1);
  border-style: solid;
}
.az {
  background-image: url(/ipaz.png);
}
.inaz {
  padding-top: 36px;
}
.giftmagic {
  background-image: url(/magicgift.jpg);
  display: none;
}
.ipadair {
  background-image: url(/ipadair.jpg);
}
.inipadair {
  padding-bottom: 300px;
}

.rnbwhello {
  font-size: 14px;

  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 166px;
  height: 18px;
}
.rnbwhello p {
  margin: 0;
}
.hos1 {
  flex-direction: column;
}
.airpod {
  background-image: url(/airpod.jpg);
}
.inairpod {
  padding-top: 330px;
}
.inairpod p:nth-child(2) {
  height: 53px;
  width: 241px;
}
.iwatch {
  background-image: url(/iwatch.jpg);
}
.iniwatch {
  height: 135px;
  width: 235px;
  gap: 16px;
  padding-top: 46px;
}
.iwatch p {
  margin: 0;
}

.applelogostyle {
  width: 22px;
  height: 27px;
  padding-bottom: 5px;
}
.iwatch .learnmore p:first-child {
  color: white;
}
.hos2 {
  flex-direction: column;
}
.macbook {
  background-image: url(/macbook.png);
}
.inmacbook {
  width: 257px;
  height: 115px;
  gap: 16px;
}
.forsmallbussines {
  background-image: url(/forsmall.png);
}
.inforsmallbussines {
  height: 168px;
  width: 257px;
  margin-top: 47px;
}
.hos3 {
  flex-direction: column;
}
.carrierdeals {
  background-image: url(/carrier.png);
  height: 500px;
  width: 100%;
}
.incarrierdeals {
  height: 152px;
  width: 314px;
  padding-top: 301px;
}
.carrierdeals .learnmore {
  width: 130px;
}
.trade {
  background-image: url(/trade.jpg);
  height: 500px;
  width: 100%;
}
.intrade {
  width: 285px;
  height: 130px;
  padding-top: 51px;
}
.trade .learnmore {
  width: 160px;
}
.last {
}
.scrollbox {
  height: 533px;
  width: 100vw;
  overflow: scroll;
}
.scroll {
  width: fit-content;
}
.gapscroll {
  gap: 16px;
}
.scrollbody {
  width: 274px;
  height: 495px;
  background-size: cover;
  background-position: center;
}
.scroll1 {
  background-image: url(/34e51e39872210aa06e802ad1aa23f047c1ae9d5.jpg);
}
.scroll2 {
  background-image: url(/4cab1570e2f6107d413dfa8f5ee5529aded13420.jpg);
}
.scroll3 {
  background-image: url(/6803192320c01991746406d30d1c209f915d5669.jpg);
}
.scroll4 {
  background-image: url(/75cfc40b3d83f8f3ff5b779dc0a66f085f6ef502.jpg);
}
.scroll5 {
  background-image: url(/d6d754a221c2eb7a8b29f50f4b07ed57a5561306.jpg);
}
.tablist {
  height: 8px;
  width: 220px;
  gap: 18px;
}
.tab {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: darkgrey;
}
.lastp2 {
  height: 160px;
  overflow: scroll;
  gap: 12px;
  width: 100vw;
}
.inlastp2 {
  height: 160px;
  width: 238px;
}
.lastbar {
  height: 134px;
  width: 238px;
  background-color: rgba(101, 41, 207, 1);
}
.musicicon {
  margin-bottom: 15px;
  margin-right: 15px;
}

.lastbarphoto1 {
  background-image: url(/bk1.jpg);
  height: 114px;
  width: 114px;
  margin-left: 60px;
}
.musicicon {
  background-image: url(/musicicon.svg);
  width: 40.8px;
  height: 9.63px;
  margin-top: 115px;
  margin-left: 10px;
}
.lastbarphoto2 {
  background-image: url(/bc2.jpg);
  width: 238px;
  height: 134px;
}
.lastgap {
  gap: 10px;
}
.lastp2 p {
  margin: 0;
}
.ending {
  height: 56px;
  width: 100vw;
  background-color: white;
  justify-content: end;
}
.videobutton {
  background-image: url(/videobutton.svg);
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .azpro {
    background-image: url(/ippro.png);
  }
  .inazpro {
    padding-top: 58px;
  }
  .az {
    background-image: url(/azhevtee.jpg);
    padding-top: 58px;
  }
  .inaz {
    padding-top: 58px;
  }
  .ipadair {
    background-image: url(/hevteeipad.jpg);
  }
  .inipadair {
    padding-top: 58px;
  }
  .hos1 {
    flex-direction: row;
  }
  .hos2 {
    flex-direction: row;
  }
  .hos3 {
    flex-direction: row;
  }
  .scrollbox {
    height: 412px;
  }
  .scrollbody {
    width: 689px;
    height: 368px;
  }

  .scroll1 {
    background-image: url(/scroll1tab.jpg);
  }

  .scroll2 {
    background-image: url(/scroll2tab.jpg);
  }
  .scroll3 {
    background-image: url(/scroll3tab.jpg);
  }
  .scroll4 {
    background-image: url(/scroll0tab.jpg);
  }
  .lastbarphoto1 {
    background-image: none;
    background-color: rgba(101, 41, 207, 1);
  }
  .lastbar {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .musicicon {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1024px) {
  .forbackground {
    height: 692px;
  }
  .azpro {
    background-image: url(/prodesk.jpg);
  }
  .az {
    background-image: url(/azdesk.jpg);
  }
  .giftmagic {
    display: flex;
  }
}
