<<<<<<< HEAD
.inter-textstorefont2 {
  font-optical-sizing: auto;

  font-style: normal;
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.01px;
}
.inter-textstorefont1 {
  font-optical-sizing: auto;

  font-style: normal;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.01px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.headtext p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.inshoppinghelp p:first-child {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.inshoppinghelp p:nth-child(2) {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.producttext p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

=======
.background {
  background-color: #F5F5F7;
}
>>>>>>> 20a3e9e (laptop)
p {
  margin: 0;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.alcenter {
  align-items: center;
}
.juscenter {
  justify-content: center;
}
.width100 {
  width: 100vw;
}
.header {
  height: 44px;
  gap: 24px;
}
.headtext {
  height: 20px;
  gap: 4px;
  padding: 20px 0;
}
.section1 {
  height: 585px;
  gap: 80px;
}
.section1-1 {
  height: 100px;
  padding: 0 140px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.insec1-1 {
  height: 52px;
  gap: 32px;
}
.shoppinghelp {
  align-items: flex-start;
  gap: 16px;
}
.inshoppinghelp {
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.products {
  height: 146px;
  padding: 0 140px;
  gap: 28px;
}
.producttext {
  padding: 16px 8px;
  align-items: flex-start;
  gap: 16px;
}
.producttext p {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.sectionbox{gap: 60px;
}
.section2 {
  padding: 0 140px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.sectiontitle {
  width: 467px;
  gap: 4px;
}
.itemdetails {
  gap: 20px;
  align-self: stretch;
}
.details {
  width: 480px;
  height: 500px;
  align-items: flex-start;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.sec2bg1 {
  background-image: url(/detailsiphone.png);
}
.sec2bg2 {
  background-image: url(/detaiswatch.png);
}
.sec2bg3 {
  background-image: url(/detailsipad.png);
}
.sec2bg4 {
  background-image: url(/detailsmacbook.jpg);
  background-position: center;
  background-size: cover;
}
.detailtext {
  width: 322px;
  align-items: flex-start;
  margin: 30px 30px;
}
.appleinteligence {
  width: 132px;
  height: 14px;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
}
.s2text {
  align-items: flex-start;
  gap: 12px;
}
<<<<<<< HEAD
.storecardbg {
  background-image: url(/store-card.png);
}
.sec4bg2 {
  background-image: url(/sec4bg2.png);
}
.fit {
  width: fit-content;
}
.sec4mini {
  display: flex;
  width: 313px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.s4minitextbox {
  width: 313px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 18px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.s4rec {
  width: 253px;
  height: 53px;
}
.s4minitext {
  width: 313px;
  height: 500px;
  gap: 20px;
}
.s5bg1 {
  background-image: url(/s5bg1.png);
}
.s5bg2 {
  background-image: url(/s5bg2.png);
}
.s5bg3 {
  background-image: url(/s5bg3.png);
}
.s5bg4 {
  background-image: url(/s5bg4.jpg);
  background-position: center;
  background-size: cover;
}
.s6bg1 {
  background-image: url(/s6bg1.png);
}
.s6bg2 {
  background-image: url(/s6bg5.png);
}
.s6bg3 {
  background-image: url(/s6bg3.png);
}
.s6bg4 {
  background-image: url(/s6bg4.png);
}
.s6bg5 {
  background-image: url(/s6bg5.png);
  background-position: center;
  background-size: cover;
}
.detailss6 {
  width: 400px;
  height: 500px;
  align-items: flex-start;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.footer {
  width: 100vw;
  height: 96px;
  padding: 0 140px;
  align-items: flex-start;
  gap: 24px;
}
.footerlinks {
  gap: 12px;
  align-self: stretch;
}
.infooterlinks {
  padding: 10px 12px;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid #1d1d1f;
}
=======
.details3and4heat {
  width: 400px;
height: 500px;
  align-items: flex-start;
  border-radius: 18px;
background: #FFF;
box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.details3{
  padding: 71px 28px 32px 28px;
  justify-content: flex-end;
  align-items: center;
border-radius: 18px;
background-color: #FFFFFF;
}
.sec3bg1{background-image: url(/sec3bg1.png);}
.sec3colorchoise{
padding: 25px 86px 21px 79px;
align-items: flex-start;
gap: 7px;}
.sec3pricedetailbox{
  width: 257px;
  align-items: flex-start;
  gap: 32px;
}
.sec3pricedetails{ 
height: 61px;
align-items: flex-start;
gap: 6px;
}
.sec3gap{gap: 58px}
.sec4bg1{background-image: url(/sec4bg1.png);}
>>>>>>> 20a3e9e (laptop)
